@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
$logoFont:'Train One', cursive;

@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab&display=swap');
$textFont : 'Hepta Slab', serif;

//Colors
$primary:#722837;
$secondary:#A64629;
$black:242424;
$white:#fff;
$bg:#eaeaea;
